
<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><b>XE Provider</b></ng-template>



      <ng-template ngbTabContent>

          <div class="tab-content">
          <div class="row">
              <div class="col-sm-4" style="background-color:lavender;">
style1
              </div>



              <div class="col-sm-4" style="background-color:lavenderblush;">
                  
                      <p><b>Provider Configuration</b></p>
                      <div class="form-group">
                        <label for="providername">Provider Name</label>
                        <input type="text" id="providername" name="providername" class="form-control ">
                      </div>
                      <div class="form-group">
                        <label for="ReqId">Req Id</label>
                        <input type="text" id="ReqId" name="ReqId" class="form-control ">
                      </div>
                      <div class="form-group">
                        <label for="Type">Type</label>
                        <input type="text" id="Type" name="Type" class="form-control ">
                      </div>
                      <div class="form-group">
                        <label for="singleDomain">Single Domain:</label>
                        <input type="text" id="singleDomain" name="singleDomain" class="form-control ">
                      </div>
                      <input type="checkbox" name="gender" value="male"> <label for="singleDomain">Filter Empty Domain</label>
                      <input type="checkbox" name="gender" value="male" checked> <label for="singleDomain">Multi Domain Supported</label><br>
                      
                      <div class="form-group">
                        <label for="supportedDomain">Supported Domain:</label>
                        <input type="text" id="supportedDomain" name="supportedDomain" class="form-control ">
                      </div>
                    
                  </div>
              <div class="col-sm-4" style="background-color:lavender;">
        
                        <p><b>Requestor Configuration</b></p>
                        <input type="checkbox" name="gender" value="male"> Enable Secure Connection(TLS)
                        <input type="checkbox" name="gender" value="male" checked> Enable Proxy<br>
                        <!--     Dialog Box for Requestor
                        <ng-template #content let-c="close" let-d="dismiss">
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Hello, World!</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
                          </div>
                        </ng-template>
                        <button class="btn btn-primary" (click)="openDialog(content)">Requestor1</button>-->
                        <ngbd-modal-config></ngbd-modal-config>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Requestor Name</th>
                              <th>IP</th>
                              <th>TLS Port</th>
                              <th>Xbus Port</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Requestor1</td>
                              <td>10.0.01</td>
                              <td>56661</td>
                              <td>56661</td>
                            </tr>
                            <tr>
                              <td>Requestor2</td>
                              <td>10.0.01</td>
                              <td>56662</td>
                              <td>56661</td>
                            </tr>
                            <tr>
                              <td>Requestor3</td>
                              <td>10.0.01</td>
                              <td>56663</td>
                              <td>56661</td>
                            </tr>
                          </tbody>
                        </table>
                
                
                
                
                
                        <p><b>Dakota Configuration</b></p>
                
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Requestor Name</th>
                              <th>IP</th>
                              <th>TLS Port</th>
                              <th>Xbus Port</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                
                          </tbody>
                        </table>
                
                
                
                        <p><b>EA Configuration</b></p>
                        <input type="radio" name="gender" value="male" checked> Secure
                        <input type="radio" name="gender" value="male"> Compatible<br>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Requestor Name</th>
                              <th>IP</th>
                              <th>TLS Port</th>
                              <th>Xbus Port</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                
                          </tbody>
                        </table>
                
                
                
                        <p>Archive Configuration</p>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Archive Name</th>
                              <th>AE Title</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                
                              <td></td>
                              <td>Archive Name</td>
                              <td>AE Title</td>
                            </tr>
                
                
                          </tbody>
                        </table>
                
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>DB Host Name</th>
                              <th>DB Port</th>
                              <th>User Name</th>
                              <th>Password</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                
                
                          </tbody>
                        </table>
                        <input type="checkbox" name="gender" value="male"> Direct SQL Access
                  </div>
            </div>
              </div>


      </ng-template>
    </ngb-tab>
    <ngb-tab title="XE Service">
      <ng-template ngbTabContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="XE Service" [disabled]="true">
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  

  

  
</div>




